.footer {
  background-image: url("../images/footer-bg.png");

  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  width: 100% !important;
}

.footer-info {
  color: white;
  list-style: none;
  li {
    font-size: 1rem;
  }
}
.footer-end {
  color: white;
}

.footer-love-icon {
  color: rgb(209, 38, 38);
}
