// ----------------------------------------------------------------

.fix {
  overflow: hidden;
}

.bg-image {
  background-image: url("../images/wlc-bg1.jpg");
  // background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  height: 100vh;
}

.home-row {
  height: 100vh;
  align-items: center;
}

.intro-section {
  color: white;

  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 3rem;
  }
  h3 {
    font-size: 2rem;
  }
  h5 {
    font-size: 1.5rem;
  }
}

// -----------------------------------

.about {
  min-height: 100vh;
  // background: #0b0d0e;

  background: url("../images/about-bg.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  align-items: center;
}
.about-img {
  height: 80vh;
  object-fit: cover;
  border-radius: 1rem;
}

.about-info {
  display: flex;
  flex-direction: column;
  height: 80vh;
  justify-content: center;
  color: white;
}

.tabs {
  display: flex;
  justify-content: center;
}
.active-tab {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #09c75ea4;
  width: 14rem;
  height: 4rem;
  padding: 0.5rem;
  border-radius: 10rem;
  cursor: pointer;
  h5 {
    margin: 0 !important;
    margin-left: 1rem !important;
  }
}
.inactive-tab {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #09c75e;
  width: 14rem;
  height: 4rem;
  padding: 0.5rem;
  border-radius: 10rem;
  cursor: pointer;
  h5 {
    margin: 0 !important;
    margin-left: 1rem !important;
  }
}
.about-sub-data {
  padding: 1rem;
  box-shadow: 1px 2px 17px 0px rgba(0, 0, 0, 0.18);
  -webkit-box-shadow: 1px 2px 17px 0px rgba(0, 0, 0, 0.18);
  -moz-box-shadow: 1px 2px 17px 0px rgba(0, 0, 0, 0.18);
}

// -------------------------------------------------

.projects {
  background: url("../images/project-bg.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.heading-section {
  text-align: center;
  margin-bottom: 4rem;
  color: white;
}

.contact-section-bg {
  background: url("../images/map.png") no-repeat center center;
  background-color: #0b0d0e;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  color: white;
}

.form-textfield-input {
  color: white !important;
}
.form-textfield {
  border-color: aliceblue !important;
}
.send-message-btn {
  padding: 15px 30px !important;
  span {
    font-weight: bold !important;
    font-size: 1.2rem;
  }
}

.parallax-effect-glare-scale {
  // background-image: url("../images/home-bg.jpg");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 400px;
  color: white;
  border-radius: 20px;

  transform-style: preserve-3d;

  .inner-element {
    margin-left: 1rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: end;

    font-style: italic;
    color: white;
    transform: translateZ(60px);
  }
}
.project-card {
  background-color: #09c75f;
  border-radius: 1rem;
  overflow: hidden;
}

.img-section img {
  height: 14rem;
  width: 100%;
  object-fit: cover;
}
.project-info {
  padding: 1rem;
}

.skills-section {
  background: url("../images/about-bg-shape.png") no-repeat left bottom;
  background-color: #0b0d0e;
  padding-top: 3rem;
  padding-bottom: 10rem;
}

.skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  img {
    height: 3rem;
    width: 3rem;
    margin-bottom: 1rem;
  }
  h6 {
    color: white;
  }
}

.color-white {
  color: white;
}
